<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Catalog</title>
    <link rel="stylesheet" href="/template/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="/template/css/templatemo-video-catalog.css">
</head>
<!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
<body>
    <!-- Page content -->
    <main>
        <div class="container-fluid px-0">
            <div class="mx-auto tm-content-container">
                <div class="mx-auto pb-3 tm-about-text-container px-3">
                    <div class="row">
                        <div class="col-lg-6 mb-5">
                            <form method="post" action="/login" >
                                <input name= "user_id" type="text" class="form-control" placeholder="ID" /> <br>
                                <input name="user_pw" type="password" class="form-control" placeholder="Password"/> </br>
                                <button class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Login</span></button>
                            </form>

                        </div>

                </div>
            </div>

<script src="/template/js/jquery-3.4.1.min.js"></script>
<script src="/tempate/js/bootstrap.min.js"></script>
<script src="/template/js/parallax.min.js"></script>
</body>
</html>