<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
REGISTER
<form method="post" action="/register" >
    <input name= "user_id" type="text" class="form-control" placeholder="ID" /> <br>
    <input name= "user_name" type="text" class="form-control" placeholder="Name" /> <br>
    <input name="user_pw" type="password" class="form-control" placeholder="Password"/> </br>
    <button >Register</button>
</form>